// Structure
.wp-block-kadence-column {
    .kt-inside-inner-col {
        height: 100%;
        .wp-block-kadence-infobox {
            height: 100%;
            > a {
                text-decoration: none;
                height: 100%;
            }
        }
    }
}
// Buttons
.kt-button {
    font-family: $sans-serif;
    &:hover {
        text-decoration: none;
    }
}