/*! Made with Bones: http://themble.com/bones :) */

/******************************************************************
Site Name: Habitat for Humanity of Oakland County
Author: Matt Crandell

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/

/*********************
IMPORTING PARTIALS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/

/* Habitat for Humanity Imports and Parials */
@import 'mixins';
@import 'variables';

// normalize: http://necolas.github.io/normalize.css/
//@import "partials/normalize";

// Sass variables
@import "partials/variables";

// typography
@import "partials/typography";

// Sass functions
@import "partials/functions";

// import mixins
@import "partials/mixins";

// the grid
@import "partials/grid";

/*********************
IMPORTING MODULES
Modules are reusable blocks or elements we use throughout the project.
We can break them up as much as we want or just keep them all in one.
I mean, you can do whatever you want. The world is your oyster. Unless
you hate oysters, then the world is your peanut butter & jelly sandwich.
*********************/

// alert boxes
@import "modules/alerts";

// buttons
@import "modules/buttons";

// forms (inputs & labels)
//@import "modules/forms";

/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/

// styles in base.scss
@import "breakpoints/base";

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {

	// styles in 481up.scss
	@import "breakpoints/481up";

} // end of media query

/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {

	// styles in 768up.scss
	@import "breakpoints/768up";

} // end of media query

/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {

	// styles in 1030up.scss
	@import "breakpoints/1030up";

} // end of media query

/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1240px) {

	// styles in 1240up.scss
	@import "breakpoints/1240up";

} // end of media query

/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	// styles in 2x.scss
	@import "breakpoints/2x";

} // end of media query

/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {

	// styles in print.scss
	@import "partials/print";

}

/* Import Third Part Sass Files */
@import 'bootstrap';
@import 'font-awesome';
@import 'datepicker';

/* Body Styles */
html {
}

/* Typography and Colors */
body {
    //font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: $black;
    @media (min-width: $screen-sm-min) {
        font-size: 18px;
    }
}
h1, .h1 {
    color: $bahamablue;
    //font-family: 'Crimson Text', "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: 400;
    @media (min-width: $screen-sm-min) {
        font-size: 40px;
    }
}
h2, .h2, .gform_wrapper h2.gsection_title {
    color: $apple;
    //font-family: 'Crimson Text', "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: 700;
    @media (min-width: $screen-sm-min) {
        font-size: 30px;
    }
}
h3, .h3, .gform_wrapper .subsection h2.gsection_title {
    color: $bahamablue;
    //font-family: 'Crimson Text', "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: 500;
    @media (min-width: $screen-sm-min) {
        font-size: 24px;
    }
}
h4, .h4, .gform_wrapper .h4 h2.gsection_title {
	color: $bahamablue;
    //font-family: 'Crimson Text', "Times New Roman", Times, serif;
    font-weight: 600;
}
.gform_wrapper .h4 h2.gsection_title {
    font-size: 18px;
}
a {
    color: $deepcerulean;
    &:hover, &.hover {
        color: $cornflower;
        text-decoration: none;
    }
}
/* Default Styles */
.btn {
    border-radius: 2px;
    box-shadow: $z1-shadow;
    font-family: $sans-serif;
}
.btn-lg {
    box-shadow: $z2-shadow;
}
.btn-xl {
    font-size: 22px;
}
.btn-blue {
    //font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: $bahamablue;
    color: #FFF;
    &:hover {
        background-color: lighten($bahamablue, 5);
        color: #FFF;
    }
}
.btn-green {
    //font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: $apple;
    color: #FFF;
    &:hover {
        background-color: lighten($apple, 5);
        color: #FFF;
    }
}
.btn-gray {
    //font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: $jumbogray;
    color: #FFF;
    &:hover {
        background-color: lighten($jumbogray, 5);
        color: #FFF;
    }
}
.btn-darkblue {
    //font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: $deepcerulean;
    color: #FFF;
    &:hover {
        background-color: lighten($deepcerulean, 5);
        color: #FFF;
    }
}
.btn-lightblue {
    //font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: $cornflower;
    color: #FFF;
    &:hover {
        background-color: lighten($cornflower, 5);
        color: #FFF;
    }
}
.large-green-btn {
    padding: 15px 25px;
    white-space: normal;
    font-size: 18px;
    font-weight: bold;
}
.btn-img {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    background-color: $apple;
    color: #FFF;
    border: 0;
    box-shadow: $z2-shadow;
    white-space: normal;
    max-width: 219px;
    &.btn-block {
        max-width: none;
    }
    &:hover {
        background-color: lighten($apple, 5);
        color: #FFF;
    }
    &.btn-blue {
        background-color: $bahamablue;
        color: #FFF;
        &:hover {
            background-color: lighten($bahamablue, 5);
            color: #FFF;
        }
    }
    span {
        display: block;
        width: 100%;
        padding: 5px;
        font-size: 18px;
        &:first-child {
            min-height: 60px;
        }
    }
    img {
        box-shadow: none !important;
    }
    .img-holder {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100px;
        background-position: center center;
    }
}
.input-group {
    .btn, .form-control {
        box-shadow: none;
        padding: 6px 12px 7px 12px;
    }
}
hr {
    border-top: 1px solid $jumbogray;
    @media (min-width: $screen-md-min) {
        margin-top: 35px;
        margin-bottom: 35px;
    }
}
/* Spacing Elements */
@mixin generate-spacing-classes(
    $default-space-amounts-with-direction: (5 left left, 10 left left, 15 left left, 25 left left, 30 left left, 35 left left)
) {
    @each $space in $default-space-amounts-with-direction {
        .margin-#{nth($space, 3)}-#{nth($space, 1)} {
            margin-#{nth($space, 2)}: #{nth($space, 1)}px;
        }
    }
}
$right-space-vars: (5 right right, 10 right right, 15 right right, 25 right right, 30 right right, 35 right right);
$bottom-space-vars: (5 bottom bottom, 10 bottom bottom, 15 bottom bottom, 25 bottom bottom, 30 bottom bottom, 35 bottom bottom);
$top-space-vars: (5 top top, 10 top top, 15 top top, 25 top top, 30 top top, 35 top top);

@include generate-spacing-classes(); // left comes by default
@include generate-spacing-classes($right-space-vars);
@include generate-spacing-classes($bottom-space-vars);
@include generate-spacing-classes($top-space-vars);

/* Header and Navigation */
.header {
    padding-top: 10px;
    padding-bottom: 10px;
    > .container-fluid {
        @include page-width();
    }
}
.navbar {
    background-color: #FFF;
    border: 0;
    border-bottom: 1px solid $apple;
    box-shadow: $z3-shadow;
    border-radius: 0;
    margin-bottom: 30px;
    font-family: $sans-serif;
    .navbar-brand {
        //padding: 10px 15px 10px 15px;
        //max-width: 75%;
        min-height: 75px;
        padding: 0px;
        @media (min-width: $screen-sm-min) {
            //padding: 10px 15px;
            height: 75px;
        }
        img {
            height: 100%;
            padding: 15px;
            width: auto;
        }
        img.svg {
            display: none;
        }
    }
    > .container-fluid {
        @include page-width();
    }
    .navbar-toggle {
        border-radius: 2px;
        border-color: $bahamablue;
        margin-top: 20px;
        margin-bottom: 20px;
        .icon-bar {
            background-color: $bahamablue;
        }
        &:hover, &:focus {
            background-color: $bahamablue;
            .icon-bar {
                background-color: #FFF;
            }
        }
    }
    .navbar-nav {
        margin-left: -15px;
        @media (min-width: $screen-md-min) {
            float: right !important;
            margin-left: 0;
            margin-right: -15px;
        }
    }
    .navbar-nav > li > a {
        font-size: 15px;
        @media (min-width: $screen-sm-min) {
            padding: 15px 5px;
            text-align: center;
        }
        @media (min-width: $screen-md-min) {
            font-size: 16px;
            padding: 27px 10px;
        }
        @media (min-width: 1300px) {
            /*padding: 25px 12px 0 12px;*/
            font-size: 17px;
        }
    }
    .navbar-nav > li {
        > a {
            color: $deepcerulean;
            &:hover {
                background-color: $apple;
                color: #FFF;
            }
        }
    }
    .navbar-nav > li.active, .navbar-nav > li.current-page-ancestor, .nav li.open, .navbar-nav > li:hover {
        > a {
            background-color: $apple;
            color: #FFF;
        }
    }
    .dropdown-menu {
        @media (min-width: $screen-sm-min) {
            width: 275px;
            border-color: $apple;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
        }
        @media (min-width: $screen-sm-min) {
            width: 325px;
        }
        > li > a {
            padding: 4px 25px;
            white-space: normal;
            @media (min-width: $screen-lg-min) {
                font-size: 16px;
            }
        }
        > li.active, > li:hover {
            a {
                background-color: $deepcerulean;
                color: #FFF;
            }
        }
    }
    @media (min-width: $screen-sm-min) {
    .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0; // remove the gap so it doesn't close
        }
    }
    .navbar-nav > li:last-child .dropdown-menu {
        left: auto;
        right: 0;
    }
}
/* Display SVG Logo */
html.svg .navbar .navbar-brand {
    img {
        display: none;
    }
    img.svg {
        display: block;
    }
}

/* Page */
.page-content {
    @include page-width();
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    min-height: 300px;
    > .row {
        margin-left: -20px;
        margin-right: -20px;
        > div {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    p, ul {
        @media (min-width: $screen-sm-min) {
            margin: 0 0 15px;
        }
    }
}
h1.page-title {
    margin-top: 20px;
    margin-bottom: 10px;
}
.partner-heading {
    font-size: 16px;
}
.main-img, .slideshow_container .slideshow_content, .page-content article img, .page-content article .embed-responsive {
    box-shadow: $z1-shadow;
    &.no-shadow {
        box-shadow: none;
    }
}
.page-content {
    .img-left {
        margin-bottom: 15px;
        @media (min-width: $screen-sm-min) {
            float: left;
            margin-right: 15px;
        }
    }
    .img-right {
        margin-bottom: 15px;
        @media (min-width: $screen-sm-min) {
            float: right;
            margin-left: 15px;
        }
    }
}
.events-carousel {
    .carousel-caption {
        left: 15px;
        right: 15px;
        background-color: rgba(0,0,0,0.5);
        h3 {
            color: #FFF;
        }
    }
    .carousel-control {
        width: 10%;
    }
}
.featured-img {
    &.width-850 {
        max-width: 850px;
    }
    &.width-750 {
        max-width: 750px;
    }
    &.width-640 {
        max-width: 640px;
    }
    &.width-400 {
        max-width: 400px;
    }
}

/* Footer */
.footer {
    width: 100%;
    box-shadow: $top-z2-shadow;
    border-top: 1px solid $apple;
    font-size: 12px;
    > .container-fluid {
        @include page-width();
        padding: 15px;
    }
    p {
        margin-bottom: 2px;
    }
    @media (min-width: $screen-sm-min) {
        font-size: 14px;
    }
    .social-icons {
        @media (min-width: $screen-sm-min) {
            text-align: right;
        }
    }
}

/* Sidebar */
.widget {
	@media (min-width: $screen-sm-min) {
		.widgettitle {
			padding-bottom: 2px;
		}
	}
	ul {
		padding: 0;
    	list-style-type: none;
    	@media (min-width: $screen-sm-min) {
   			li {
    			margin-bottom: 0.75em;
			}
		}
	}
}
.vertical-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
        > a {
            padding: 8px 15px 8px 0;
            display: block;
            font-size: 18px;
        }
    }
}

/* Color Swatches */
.color-swatch {
    height: 100px;
    @include shadow-3();
    margin-bottom: 15px;
    padding: 15px;
    border: 5px solid #FFF;
    color: #FFF;
    background-color: #eee;
    &.swatch1 {
        background-color: $bahamablue;
    }
    &.swatch2 {
        background-color: $apple;
    }
    &.swatch3 {
        background-color: $jumbogray;
    }
    &.swatch4 {
        background-color: $cornflower;
    }
    &.swatch5 {
        background-color: $deepcerulean;
    }
}
.details {
    color: $text-muted;
}

/* Total Donations */
.mg_giving-text-perk {
    display: none;
}

/* Staff Page */
.img-staff {
    border: 3px solid $jumbogray;
    margin: 0 10px;
    box-shadow: $z1-shadow;
    max-width: 140px;
}
.img-staff-full {
    border: 3px solid $jumbogray;
    box-shadow: $z1-shadow;
}

/* Form */
.bootstrap-form {
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
        @extend .form-control;
        margin-bottom: 5px;
    }
    .gfield_checkbox li input, .gfield_checkbox li input[type=checkbox], .gfield_radio li input[type=radio] {
        margin-top: -4px !important;
        margin-right: 5px;
    }
    li.gsection {
        border: 0;
        h2 {
            padding-bottom: 10px !important;
            border-bottom: 1px solid $jumbogray;
        }
    }
}
.gform_wrapper {
    ul.gform_fields {
        padding: 0;
        li.gfield {
            list-style: none;
            clear: both;
            .gfield_radio, .gfield_checkbox {
                padding: 0;
                li {
                    list-style: none;
                    input {
                        margin-left: 1px;
                    }
                    label {
                        margin: 2px 0 0 4px;
                        font-size: 80%;
                    }
                }
            }
            .gfield_description {
                font-size: 80%;
                margin-top: 2px;
                margin-bottom: $font-size-base;
            }
            &.gfield_error {
                label {
                    color: $brand-danger;
                }
                select,
                textarea,
                input[type="text"],
                input[type="password"],
                input[type="datetime"],
                input[type="datetime-local"],
                input[type="date"],
                input[type="month"],
                input[type="time"],
                input[type="week"],
                input[type="number"],
                input[type="email"],
                input[type="url"],
                input[type="search"],
                input[type="tel"],
                input[type="color"] {
                    border-color: $brand-danger;
                }
                .validation_message {
                    color: $text-muted;
                    font-weight: 700;
                    letter-spacing: normal;
                }
            }
        }
        .field_sublabel_above, .field_sublabel_below {
            .ginput_complex.ginput_container label, div[class*=gfield_time_].ginput_container label {
                display: block;
                font-size: 80%;
                letter-spacing: .5pt;
                white-space: nowrap;
            }
        }
        @media (min-width: $screen-sm-min) {
            div.ginput_container_name span {
                display: -moz-inline-stack;
                display: inline-block;
                vertical-align: top;
                padding-right: 16px;
                margin-right: -4px;
            }
            div.ginput_complex.ginput_container.gf_name_has_2 span {
                width: 50%;
            }
            .ginput_complex .ginput_left, .ginput_complex .ginput_right {
                width: 50%;
                display: -moz-inline-stack;
                display: inline-block;
                vertical-align: top;
                margin: 0 -4px 0 0;
            }
            .ginput_complex.ginput_container_address .ginput_left {
                margin-right: 8px;
            }
            .ginput_complex .ginput_left {
                padding-right: 8px;
            }
            .ginput_complex.ginput_container_address .ginput_right {
                margin-right: -8px;
                padding-right: 8px;
            }
            .field_sublabel_above .ginput_complex.ginput_container label, .field_sublabel_above div[class*=gfield_time_].ginput_container label {
                margin: 9px 0 1px 1px;
            }
        }
    }
    .ginput_container {
        margin-bottom: 10px;
    }
    .gform_wrapper ul li.gfield.field_sublabel_above.field_description_below+li.gfield {
        margin-bottom: $font-size-base;
    }
    div.validation_error {
        @extend .alert, .alert-danger;
    }
}
.gform_footer input[type=submit].gform_button.button {
    background-color: #007cb1;
    color: #FFF;
    border-radius: 2px;
    box-shadow: $z2-shadow;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    white-space: nowrap;
}
.gform_confirmation_wrapper {
    @extend .alert, .alert-success;
}
.newsletter-signup_wrapper {
    margin: 10px 0;
    .newsletter-signup {
        overflow: hidden;
        .gform_heading {
            display: none;
        }
        input, input[type="email"] {
            border-radius: 0;
            position: relative;
        }
        input[type="email"] {
            z-index: 10;
        }
        .top_label input.large {
            width: 100%;
        }
        label.gfield_label+div.ginput_container {
            margin-top: 0 !important;
        }
        .top_label .gfield_label {
            display: none;
        }
        .gform_body, .gform_footer {
            float: left;
            clear: none;
            width: auto;
        }
        .gform_body {
            ul li.gfield {
                margin-top: 0;
                margin-right: 0;
                padding-right: 0;
            }
        }
        .gform_footer.top_label {
            margin: 0;
            padding: 0;
            .gform_button.button {
                margin-left: -1px;
                //font-family: 'Roboto', Arial, Helvetica, sans-serif;
                background-color: $deepcerulean;
                color: #FFF;
                border-radius: 2px;
                padding: 7px 12px 7px 12px;
                font-size: 14px;
                line-height: 1.42857;
                margin-bottom: 0;
                font-weight: normal;
                text-align: center;
                vertical-align: middle;
                touch-action: manipulation;
                background-image: none;
                border: 1px solid rgba(0, 0, 0, 0);
                white-space: nowrap;
                box-shadow: none;
                &:hover {
                    background-color: lighten($bahamablue, 5);
                    color: #FFF;
                }
            }
        }
    }
}
@media (min-width: $screen-sm-min) {
    .gform_wrapper.two-column_wrapper ul.gform_fields.gform-column {
        display: block;
        float: left;
        width: 50%;
        //margin-left: -15px !important;
        //margin-right: -15px !important;
        li {
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 0 !important;
            margin-right: 0 !important;
            &.gform-column-third {
                display: block;
                float: left;
                width: 30%;
                clear: none;
                &:nth-child(3n+1) {
                    clear: both;
                }
            }
        }
    }
    .gform_wrapper.two-column_wrapper ul.gform_fields.gform-column-full {
        display: block;
        clear: both;
        width: 100%;
        overflow: hidden;
        li {
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 0 !important;
            margin-right: 0 !important;
            &.gform-column-third {
                display: block;
                float: left;
                width: 30%;
                clear: none;
                &:nth-child(3n+1) {
                    clear: both;
                }
            }
        }
    }
}
.gform_wrapper.two-column_wrapper ul.gform_fields {
    /*display: none;*/
}
.gform_wrapper.two-column_wrapper li.gsection.empty,
.gform_wrapper.two-column_wrapper li.gform-column-full,
.gform_wrapper.two-column_wrapper li.gform-column {
    display: none;
}

/* Panel */
.panel-default {
    box-shadow: $z1-shadow;
    > .panel-heading {
        background-color: $bahamablue;
        &:hover {
            background-color: lighten($bahamablue, 5);
            color: #FFF;
        }
        a {
            color: #FFF;
            &:focus {
                text-decoration: none;
            }
        }
    }
}

/* Home */
.main-buttons-desktop .btn {
    @media (min-width: $screen-md-min) {
        //@extend .btn-lg;
        font-size: 18px;
        padding: 10px 16px;
    }
}

/* ReStore Page */
body.page-restore {
    h1.page-title {
        background-image: url("../images/HFHOC-ReStore-logo.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 75px;
        @include text-hide();
    }
    .btn-donate-today {
        @media (min-width: $screen-sm-min) {
            //margin-top: -69px;
        }
    }
}

/* Women Build Page */
body.page-women-build {
    h1.page-title {
        background-image: url("../images/HFHOC-women-build-logo.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 109px;
        @include text-hide();
    }
}

/* 404 */
body.error404 .entry-content {
    @media (min-width: $screen-sm-min) {
        width: 71.4285715%;
        margin-left: auto;
        margin-right: auto;
    }
}
