/*! Made with Bones: http://themble.com/bones :) */

/******************************************************************
Site Name: Habitat for Humanity of Oakland County
Author: Matt Crandell

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/

/*********************
IMPORTING PARTIALS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/

// normalize: http://necolas.github.io/normalize.css/
//@import "partials/normalize";

// Sass variables
@import "partials/variables";

// typography
@import "partials/typography";

// Sass functions
@import "partials/functions";

// import mixins
@import "partials/mixins";

// the grid
@import "partials/grid";

/*********************
IMPORTING MODULES
Modules are reusable blocks or elements we use throughout the project.
We can break them up as much as we want or just keep them all in one.
I mean, you can do whatever you want. The world is your oyster. Unless
you hate oysters, then the world is your peanut butter & jelly sandwich.
*********************/

// alert boxes
@import "modules/alerts";

// buttons
@import "modules/buttons";

// forms (inputs & labels)
//@import "modules/forms";

/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/

// styles in base.scss
@import "breakpoints/base";

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {

	// styles in 481up.scss
	@import "breakpoints/481up";

} // end of media query

/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {

	// styles in 768up.scss
	@import "breakpoints/768up";

} // end of media query

/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {

	// styles in 1030up.scss
	@import "breakpoints/1030up";

} // end of media query

/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1240px) {

	// styles in 1240up.scss
	@import "breakpoints/1240up";

} // end of media query

/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	// styles in 2x.scss
	@import "breakpoints/2x";

} // end of media query

/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {

	// styles in print.scss
	@import "partials/print";

}

/* Habitat for Humanity of Oakland County 2016 */

@import 'bootstrap';
@import 'font-awesome';
@import 'mixins';
@import 'variables';

/* Body Styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: $footer-height;
}

/* Typography and Colors */
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: $black;
}
h1, .h1 {
    color: $blue;
    font-family: 'Crimson Text', "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: 400;
    @media (min-width: $screen-sm-min) {
        font-size: 40px;
    }
}
h2, .h2, .gform_wrapper h2.gsection_title {
    color: $green;
    font-family: 'Crimson Text', "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: 600;
    @media (min-width: $screen-sm-min) {
        font-size: 30px;
    }
}
h3, .h3, .gform_wrapper .subsection h2.gsection_title {
    color: $blue;
    font-family: 'Crimson Text', "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: 600;
    @media (min-width: $screen-sm-min) {
        font-size: 24px;
    }
}
h4, .h4, .gform_wrapper .h4 h2.gsection_title {
	color: $blue;
    font-family: 'Crimson Text', "Times New Roman", Times, serif;
    font-weight: 600;
}
.gform_wrapper .h4 h2.gsection_title {
    font-size: 18px;
}
a {
    color: $darkblue;
    &:hover {
        color: $lightblue;
        text-decoration: none;
    }
}
/* Default Styles */
.btn, .form-control {
    border-radius: 2px;
    box-shadow: $z1-shadow;
}
.btn-lg {
    box-shadow: $z2-shadow;
}
.btn-blue {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: $blue;
    color: #FFF;
    &:hover {
        background-color: lighten($blue, 5);
        color: #FFF;
    }
}
.btn-green {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: $green;
    color: #FFF;
    &:hover {
        background-color: lighten($green, 5);
        color: #FFF;
    }
}
.btn-gray {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: $gray;
    color: #FFF;
    &:hover {
        background-color: lighten($gray, 5);
        color: #FFF;
    }
}
.btn-darkblue {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: $darkblue;
    color: #FFF;
    &:hover {
        background-color: lighten($darkblue, 5);
        color: #FFF;
    }
}
.btn-lightblue {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: $lightblue;
    color: #FFF;
    &:hover {
        background-color: lighten($lightblue, 5);
        color: #FFF;
    }
}
.input-group {
    .btn, .form-control {
        box-shadow: none;
        padding: 6px 12px 7px 12px;
    }
}
hr {
    border-top: 1px solid $gray;
    @media (min-width: $screen-md-min) {
        margin-top: 35px;
        margin-bottom: 35px;
    }
}
/* Spacing */
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-25 {
    margin-bottom: 25px;
}
.margin-bottom-35 {
    margin-bottom: 35px;
}

/* Header and Navigation */
.header {
    padding-top: 10px;
    padding-bottom: 10px;
    > .container-fluid {
        @include page-width();
    }
}
.navbar {
    background-color: #FFF;
    border: 0;
    border-bottom: 1px solid $green;
    box-shadow: $z3-shadow;
    border-radius: 0;
    margin-bottom: 30px;
    .navbar-brand {
        padding: 10px 15px 10px 15px;
        max-width: 75%;
        min-height: 75px;
        @media (min-width: $screen-sm-min) {
            padding: 10px 15px;
            height: 75px;
        }
        img {
            height: 100%;
            width: auto;
        }
        img.svg {
            display: none;
        }
    }
    > .container-fluid {
        @include page-width();
    }
    .navbar-toggle {
        border-radius: 2px;
        border-color: $blue;
        margin-top: 20px;
        margin-bottom: 20px;
        .icon-bar {
            background-color: $blue;
        }
        &:hover, &:focus {
            background-color: $blue;
            .icon-bar {
                background-color: #FFF;
            }
        }
    }
    .navbar-nav {
        margin-left: -15px;
        @media (min-width: $screen-md-min) {
            float: right !important;
            margin-left: 0;
            margin-right: -15px;
        }
    }
    .navbar-nav > li > a {
        @media (min-width: $screen-sm-min) {
            padding: 28px 10px;
        }
        @media (min-width: $screen-lg-min) {
            padding: 28px 10px;
            font-size: 16px;
        }
        @media (min-width: 1300px) {
            padding: 28px 15px;
            font-size: 17px;
        }
    }
    .navbar-nav > li {
        > a {
            color: $darkblue;
            &:hover {
                background-color: $green;
                color: #FFF;
            }
        }
    }
    .navbar-nav > li.active, .navbar-nav > li.current-page-ancestor, .nav li.open, .navbar-nav > li:hover {
        > a {
            background-color: $green;
            color: #FFF;
        }
    }
    .dropdown-menu {
        @media (min-width: $screen-sm-min) {
            width: 275px;
            border-color: $green;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
        }
        @media (min-width: $screen-sm-min) {
            width: 325px;
        }
        > li > a {
            padding: 4px 25px;
            white-space: normal;
            @media (min-width: $screen-lg-min) {
                font-size: 16px;
            }
        }
        > li.active, > li:hover {
            a {
                background-color: $darkblue;
                color: #FFF;
            }
        }
    }
    @media (min-width: $screen-sm-min) {
    .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0; // remove the gap so it doesn't close
        }
    }
    .navbar-nav > li:last-child .dropdown-menu {
        left: auto;
        right: 0;
    }
}
/* Display SVG Logo */
html.svg .navbar .navbar-brand {
    img {
        display: none;
    }
    img.svg {
        display: block;
    }
}

/* Page */
.page-content {
    @include page-width();
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    > .row {
        margin-left: -20px;
        margin-right: -20px;
        > div {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    p {
        @media (min-width: $screen-sm-min) {
            margin: 0 0 15px;
        }
    }
}
.partner-heading {
    font-size: 16px;
}
.main-img, .slideshow_container .slideshow_content, .page-content article img, .page-content article .embed-responsive {
    box-shadow: $z1-shadow;
    &.no-shadow {
        box-shadow: none;
    }
}
.page-content {
    .img-left {
        margin-bottom: 15px;
        @media (min-width: $screen-sm-min) {
            float: left;
            margin-right: 15px;
        }
    }
    .img-right {
        margin-bottom: 15px;
        @media (min-width: $screen-sm-min) {
            float: right;
            margin-left: 15px;
        }
    }
}
.events-carousel {
    .carousel-caption {
        left: 15px;
        right: 15px;
        background-color: rgba(0,0,0,0.5);
        h3 {
            color: #FFF;
        }
    }
    .carousel-control {
        width: 10%;
    }
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    box-shadow: $top-z2-shadow;
    border-top: 1px solid $green;
    font-size: 12px;
    > .container-fluid {
        @include page-width();
        padding: 15px;
    }
    p {
        margin-bottom: 2px;
    }
}

/* Sidebar */
.widget {
	@media (min-width: $screen-sm-min) {
		.widgettitle {
			padding-bottom: 2px;
		}
	}
	ul {
		padding: 0;
    	list-style-type: none;
    	@media (min-width: $screen-sm-min) {
   			li {
    			margin-bottom: 0.75em;
			}
		}
	}
}

/* Total Donations */
.mg_giving-text-perk {
    display: none;
}

/* Staff Page */
.img-staff {
    border: 3px solid $gray;
    margin: 0 10px;
    box-shadow: $z1-shadow;
    max-width: 140px;
}
.img-staff-full {
    border: 3px solid $gray;
    box-shadow: $z1-shadow;
}

/* Form */
.page-content article .gform_footer input[type=submit].gform_button.button {
    background-color: #007cb1;
    color: #FFF;
    border-radius: 2px;
    box-shadow: $z2-shadow;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    white-space: nowrap;
}
.bootstrap-form {
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
        display: block;
        width: 100%;
        height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
        padding: $padding-base-vertical $padding-base-horizontal;
        font-size: $font-size-base;
        line-height: $line-height-base;
        color: $input-color;
        background-color: $input-bg;
        background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
        border: 1px solid $input-border;
        border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
        @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
        @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

        // Customize the `:focus` state to imitate native WebKit styles.
        @include form-control-focus;

        // Placeholder
        @include placeholder;

        // Unstyle the caret on `<select>`s in IE10+.
        &::-ms-expand {
        border: 0;
        background-color: transparent;
        }

        // Disabled and read-only inputs
        //
        // HTML5 says that controls under a fieldset > legend:first-child won't be
        // disabled if the fieldset is disabled. Due to implementation difficulty, we
        // don't honor that edge case; we style them as disabled anyway.
        &[disabled],
        &[readonly],
        fieldset[disabled] & {
        background-color: $input-bg-disabled;
        opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
        }

        &[disabled],
        fieldset[disabled] & {
        cursor: $cursor-disabled;
        }

        // [converter] extracted textarea& to textarea.form-control
    }
}
