// Increase Body Size
body {
  font-size: 1.125rem; //18px
}

// Wrapper Margin
.wrap {
  //margin-top: 84px;
  @include media-breakpoint-up(lg) {
    //margin-top: 100px;
  }
  .admin-bar & {
    //margin-top: (84px + 46px);
    @include media-breakpoint-up(lg) {
      //margin-top: (100px + 32px);
    }
  }
}

// Links
a {
    @include transition(all .3s ease-in-out);
    &.hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
}

// Content
.content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1rem 1rem 1rem;
}