// Increase Body Size
body {
  font-size: 1.125rem; //18px
}

// Wrapper Margin
.wrap {
  @include media-breakpoint-up(lg) {
  }
  .admin-bar & {
    @include media-breakpoint-up(lg) {
    }
  }
}

// Links
a {
    @include transition(all .3s ease-in-out);
    &.hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
}

// Content
.content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1rem 2rem 1rem;
}

// Modals
.img-modal {
  .modal-body {
    padding: 0;
    text-align: center;
    .close {
      position: absolute;
      right: 1rem;
      font-size: 2rem; // 32px
    }
  }
}