.row-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
    margin-left: -0.8%;
    margin-right: -0.8%;
    [class*="col-"] {
        margin-left: 0.8%;
        margin-right: 0.8%;
    }
    @media (min-width: $screen-sm-min) {
        .col-sm-6 {
            width: 48.4%;
        }
        .col-sm-4 {
            width: 31.733%;
        }
    }
    
}
